* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #F2F2F2 url("https://uploads.codesandbox.io/uploads/user/1e46824a-8e12-44e7-916c-05a8aa61cd44/B3N2-bg1.png");
    font-family: "Roboto", sans-serif;
}

header {
    margin: 50px 100px;
    padding:  20px;
    border:  none;
    border-radius:  20px;
    background-color: rgba(255, 255, 255, 0.7);
}


h1 {
    text-align: center;
    color: #000;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.8);
}

h2 {
    text-align: center;
    padding-top: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 100px;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #daf7c1;
    min-width: 300px;
    margin: 8px;
    padding: 8px 18px;
    border-radius: 14px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

div:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

img {
 width: 40px;
 height: 40px;
}

footer {
    text-align: center;
    padding-top: 100px;
}